# ==========================================
# HYVORA EduERP - Root Environment Variables Example
# ==========================================

NODE_ENV=production
PORT=3002
DATABASE_URL=postgresql://user:password@localhost:5432/hyvora_eduerp?schema=public
JWT_SECRET=super_secret_jwt_key_production_change_me
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,https://app.hyvora.io,https://*.hyvora.io
STORAGE_BUCKET_URL=https://storage.hyvora.io
NEXT_PUBLIC_API_URL=http://localhost:3002/api/v1
